<div class="container-fluid d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div>
            <div class="bd-highlight d-flex justify-content-center">
                <h1>Taches</h1>
                <button class="btn btn-outline-secondary m-1" (click)="loggout()">Logout</button>
            </div>

            <div class="d-flex flex-row justify-content-center ">
                <input class="inputAjoutListe" class="saisieInput" type="text" name="tache" placeholder="Liste N" (keyup.enter)="ajouterListe()" [(ngModel)]="newListe2.titre">
                <button class="buttonAjoutListe" class="btn btn-primary" value="Ajouter"  (click)='ajouterListe()'>Ajouter</button>
            </div>
        </div>
        <div cdkDropListGroup>
            <div class="row principale" >

                <div class="col-md-3 liste" *ngFor="let liste of listeN ; let i = index">
                    <div class="d-flex justify-content-center titreListe">
                        <h2>{{liste.titre}}</h2>
                        <button class="btn btn-outline-danger m-1" (click)='supprimerListe(liste)'>Supprimer</button>
                    </div>
                    <div class="d-flex flex-row justify-content-center ">
                        <input class="inputAjoutTache" class="saisieInput" type="text" name="tache" placeholder="tache" (keyup.enter)="ajouter(liste)" [(ngModel)]="newTache[i].titre">
                        <button class="buttonAjoutTache" class="btn btn-primary" value="Ajouter" (click)='ajouter(liste)' >Ajouter</button>
                    </div>
                    <div class="d-flex  justify-content-center">
                        <div [ngClass]="{'listeVide': liste.taches.length === 0 }" cdkDropList [cdkDropListData]="liste.tachesliste" [id]="liste._id ? liste._id : ''" class="d-flex flex-column " (cdkDropListDropped)="drop($event)">
                            <div class="d-flex justify-content-center m-1" *ngFor="let tache of liste.tachesliste" cdkDrag>
                                <div>{{tache.titre}}</div>
                                <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>