<div class="container-fluid d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class="bd-highlight d-flex justify-content-center">
            <h1>Taches</h1>
            <button class="btn btn-outline-secondary m-1" (click)="loggout()">Logout</button>

        </div>
        <div class="row principale">
            <div class="col-md-3">
                <h2>En attente</h2>
                <div class="d-flex flex-row justify-content-center ">
                    <input id="inputAjoutTache" class="saisieInput" type="text" name="tache" placeholder="tache" [(ngModel)]="newTache.titre">
                    <button id="buttonAjoutTache" class="btn btn-primary" value="Ajouter" (click)='ajouter("En attente")'>Ajouter</button>
                </div>
                <div class="d-flex  justify-content-center">
                    <div class="listeTaches" class="d-flex  flex-column">
                        <div class="d-flex justify-content-between m-1" *ngFor="let tache of (taches | filtreTache:'En attente')">
                            <div>{{tache.titre}}</div>
                            <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>En cours</h2>
                <div class="d-flex flex-row justify-content-center ">
                    <input id="inputAjoutTache" class="saisieInput" type="text" name="tache" placeholder="tache" [(ngModel)]="newTache.titre">
                    <button id="buttonAjoutTache" class="btn btn-primary" value="Ajouter" (click)='ajouter("En cours")'>Ajouter</button>
                </div>
                <div class="d-flex  justify-content-center">
                    <div class="listeTaches" class="d-flex  flex-column">
                        <div class="d-flex justify-content-between m-1" *ngFor="let tache of (taches | filtreTache:'En cours')">
                            <div>{{tache.titre}}</div>
                            <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>Termine</h2>
                <div class="d-flex flex-row justify-content-center ">
                    <input id="inputAjoutTache" class="saisieInput" type="text" name="tache" placeholder="tache" [(ngModel)]="newTache.titre">
                    <button id="buttonAjoutTache" class="btn btn-primary" value="Ajouter" (click)='ajouter("Termine")'>Ajouter</button>
                </div>
                <div class="d-flex  justify-content-center">
                    <div class="listeTaches" class="d-flex  flex-column">
                        <div class="d-flex justify-content-between m-1" *ngFor="let tache of (taches | filtreTache:'Termine')">
                            <div>{{tache.titre}}</div>
                            <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>Undefini</h2>
                <div class="d-flex flex-row justify-content-center ">
                    <input id="inputAjoutTache" class="saisieInput" type="text" name="tache" placeholder="tache" [(ngModel)]="newTache.titre">
                    <button id="buttonAjoutTache" class="btn btn-primary" value="Ajouter" (click)='ajouter("Undefini")'>Ajouter</button>
                </div>
                <div class="d-flex  justify-content-center">
                    <div class="listeTaches" class="d-flex  flex-column">
                        <div class="d-flex justify-content-between m-1" *ngFor="let tache of (taches | filtreTache:'Undefini')">
                            <div>{{tache.titre}}</div>
                            <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>